<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Spring </title>


<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <nav th:fragment="header">
        <div >
            <div >
                <button type="button" >
                    <span >action</span> 
                    <span ></span> 
                    <span ></span> 
                    <span ></span>
                    <span></span>
                </button>
                <a  th:href="@{/product}">HangHoa</a>
            </div>
        </div>
    </nav>

    <h1>Main content</h1>

    <footer th:fragment="footer" class="container"> 
       Finish
    </footer>
</body>
</html>