<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>   
    <title>Angular JS</title>
</head>
<body ng-app="app" ng-controller="Product">
	<div >
		<table>
			<tr>
				<td>Code : </td>
				<td><input type="text" ng-model="code"></td>
			</tr>
			<tr>
				<td>Name : </td>
				<td><input type="text" ng-model="name"></td>
			</tr>
			<tr>
				<td>Price : </td>
				<td><input  type="text" ng-model="price"></td>
			</tr>
			<tr>
				<td>Description : </td>
				<td><input type="text"ng-model="desc"></td>
			</tr>
			<tr>
				<td></td>
				<td><button ng-click="add()" >Add</button></td>
			</tr>
		</table>
	</div>
    <div>
        <table border="1">
            <tr>
            	<td>Code</td>
            	<td>Name</td>
            	<td>Price</td>
            	<td>Desciption</td>
            	<td>Action</td>
            </tr>
            <tbody>
                <tr ng-repeat="list in model.lists" ng-include="getTemplate(list)">
                </tr>
            </tbody>
        <script type="text/ng-template" id="hienthi">
            <td>{{list.code}}</td>
            <td>{{list.name}}</td>
           	<td>{{list.price}}</td>
            <td>{{list.desc}}</td>
            <td>
                <button ng-click="edit(list)">sua</button>
                <button ng-click="xoa($index)">xoa</button>
            </td>
        </script>
        </table>
        <script type="text/ng-template" id="edit">
            <td><input type="text" disabled ng-model="model.selected.code" /></td>
            <td><input type="text" ng-model="model.selected.name" /></td>
            <td><input type="number" ng-model="model.selected.price" /></td>
            <td><input type="text" ng-model="model.selected.desc" /></td>
            <td>
                <button ng-click="sua($index)">luu</button>
                <button ng-click="huy()">huy</button>
            </td>
        </script>
    </div>
    <script>
    	var demo = angular.module("app", []);
		demo.controller("Product",
			function Ctrl($scope) {
			    $scope.model = {
			        lists: [
			        {code:'A1', name:'Candy', price:1000, desc:'fit'},
			            {code:'A2', name:'Cake', price:1200, desc:'perfect'},
			            {code:'A3', name:'Fruit', price:900, desc:'thin'}
			                ],
			        selected: {}
			    };
			    $scope.getTemplate = function (list) {
			        if (list.code === $scope.model.selected.code) return 'edit';
			        else return 'hienthi';
			    };

			    $scope.edit= function (list) {
			        $scope.model.selected = angular.copy(list);
			    };

			    $scope.sua= function (idx){
			        console.log("Saving list");
			        $scope.model.lists[idx] = angular.copy($scope.model.selected);
			        $scope.huy();
			    };
			    $scope.xoa = function(code){
			        var i=confirm("Bạn chắc chắn muốn xóa ?")
			        if(i)
			         $scope.model.lists.splice(code,1);
			        else
			         return false;
			        
			     };
			    $scope.huy = function () {
			        $scope.model.selected = {};
			    };
			    $scope.add= function(){
			               var item={
			               	code: $scope.code, 
			               	name: $scope.name, 	
			               	price: $scope.price, 
			               	desc: $scope.desc
			               };
			        $scope.model.lists.push(item);

			    };
			});
    </script>
</body>
</html>
