<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot - Hibernate</title>
<style>
table, th, td, tr {
  border: 1px solid black;
}
td {
  padding-right: 30px;
}
</style>
</head>
<body>
  <h1>List Employee:</h1>
  <a th:href="@{/Employee-save}">Add Employee</a>
  <br />
  <br />
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Address</th>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <th:block th:each="Employee : ${listEmployee}">
      <tr>
        <td><p th:text="${Employee.id}"></p></td>
        <td><p th:text="${Employee.name}"></p></td>
        <td><p th:text="${Employee.location}"></p></td>
        <td><a th:href="@{/Employee-view/} + ${Employee.id}">View</a></td>
        <td><a th:href="@{/Employee-update/} + ${Employee.id}">Edit</a></td>
        <td><a th:href="@{/EmployeeDelete/} + ${Employee.id}">Delete</a></td>
      </tr>
    </th:block>
  </table>
</body>
</html>