<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot - Hibernate</title>
</head>
<body>
  <a th:href="@{/Employee-list}">List Employee</a><br />
  <h1>Add new Employee:</h1>
  <form th:action="@{/saveEmployee}" method="POST" th:object="${Employee}">
      Name: <input th:field="*{name}"/> <br/> <br/>
      Address: <input th:field="*{location}"/> <br/> <br/>
    <input type="submit" value="Submit" />
  </form>
</body>
</html>