<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot - Hibernate</title>
</head>
<body>
  <a th:href="@{/Employee-list}">List Employee</a> 
  <br/> <br/>
  
  <table>
    <tr>
      <td>Id: </td>
      <td><p th:text="${Employee.id}"/></td>
    </tr>
    <tr>
      <td>Name: </td>
      <td><p th:text="${Employee.name}"/></td>
    </tr>
    <tr>
      <td>Address: </td>
      <td><p th:text="${Employee.address}"/></td>
    </tr>
  </table>
</body>
</html>